header {
  padding: 0 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  height: 40px;
  display: flex;
  align-self: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  display: inline;
  color: #205cf5;
  padding-right: 40px;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 900;
  font-size: 1.1rem;
}

nav ul li:last-child {
  padding-right: 0px;
}
