header {
    padding: 0 80px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    height: 70px;
    display: flex;
}

.image img {
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    color: #494677;
    padding-right: 20px;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 900;
    font-size: 1.1rem;
}

nav ul li:last-child {
    padding-right: 0px;
}
