.container {
    width: 80%;
    /* border: 1px solid red; */
}

.dpFlex {
    display: flex;
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
    .responsiveWidth {
        width: 90% !important;
    }
}
