html {
    scroll-behavior: smooth;
}

.mainWrapper {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-image: url("../images/bkg.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    font-family: Quicksand-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    font-size: clamp(1.5rem, calc(3vw + 1rem), 2rem);
    color: #0c0b1a;
    /* width: 35%; */
    width: 40%;
}

.infoWrapper p {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 30px;
    color: #494677;
}

.txtDescription {
    margin: 50px 0;
}

.txtDescription + p {
    margin-bottom: 50px;
}

.btnHome {
    display: flex;
    width: 180px;
    background: #205cf5;
    padding: 10px 30px;
    box-shadow: 0px 20px 60px rgba(32, 92, 245, 0.4);
    border-radius: 80px;
    -webkit-border-radius: 80px;
    color: white;
    border: none;
    outline: 0;
    /* font */
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 24px;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.btnHome:focus {
    outline: 0;
}

.mainLogoWrapper {
    width: 60%;
}

.mainLogo {
    max-width: 100%;
    display: block;
}

.kubernetes {
    display: flex;
    width: 310px;
}

.kubernetes h2 {
    display: flex;
    align-items: center;
}

.kubernetes img {
    width: 100%;
}

/* Key Features */
.keyFeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/keyFeatures.png");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.keyFeatures h1 {
    color: #ffffff;
    font-family: Amaranth-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(2rem, calc(5vw + 1rem), 4.5rem);
    text-align: center;
}

.keyFeatureLogo {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid yellow; */
}

.keyFeatureLogo img {
    max-width: 100%;
    min-height: 70%;
}

.featureList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featureListItem {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.featureListItem:last-child {
    margin-bottom: 0px;
}

.featureListBullet {
    height: 25px;
    width: 12px;
    margin-right: 20px;
    border-radius: 50px;
}

.singleFeature {
    width: fit-content;
    padding: 20px;
    /* margin-bottom: 40px; */
    border-radius: 10px;
    background-color: #ffffff;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(1rem, calc(5vw + 1rem), 1.5rem);
    color: #494677;
}

/* Quick Start */
.quickStart {
    background: #f7f9fc;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.quickStart h1 {
    color: #0c0b1a;
    font-family: Quicksand-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(2rem, calc(5vw + 1rem), 4.5rem);
    text-align: center;
}

.txtQuickStart {
    font-family: Quicksand-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(0.8rem, calc(1vw + 0.7rem), 2.5rem);
    color: #0c0b1a;
}

.quickStartCodeContainer {
    padding: 20px;
}

.quickStartTab {
    display: flex;
    justify-content: space-between;
    width: 120px;
    padding: 5px;
}

.quickStartTabItem span {
    cursor: pointer;
}

.quickStartTab .quickStartTabItem {
    flex: 1 1 auto;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 900;
    font-size: clamp(0.9rem, calc(5vw + 1rem), 1rem);
    color: #205cf5;
}

.quickStartTab .quickStartTabItem:last-child {
    border-left: 1px solid #e9ebf8;
    text-align: right;
}

.quickStartActiveTab {
    color: #0c0b1a !important;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

.quickStartList {
    margin-top: 15px;
    margin-left: 15px;
    color: #8f9bb2;
}

.txtNotes {
    font-family: Roboto-Regular;
    font-style: italic;
    font-weight: bold;
    font-size: clamp(0.8rem, calc(5vw + 1rem), 1rem);
    /* line-height: 16px; */

    /* Shadows/1 */

    color: #8f9bb2;
}

.quickStartList li {
    font-family: SourceCodePro-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(0.8rem, calc(5vw + 1rem), 1rem);
    line-height: 30px;
}

.quickStartList li a {
    text-decoration: none;
}

.downloadMIZUIcon {
    height: 55px;
}

/* Standalone */
.standalone {
    min-height: 800px;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    background: #fff;
    font-family: Quicksand-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(0.8rem, calc(5vw + 0.7rem), 2rem);
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.standalone a {
    line-height: 2;
    color: #205cf5;
}

.standaloneIMG img {
    margin-top: 40px;
    max-width: 100%;
}

.standaloneDescription {
    display: flex;
    font-size: clamp(0.8rem, calc(5vw + 0.7rem), 2.3rem);
}

.standaloneDescription img {
    vertical-align: top;
    height: 55px;
}

/* Example */
.example {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    background: #f7f9fc;
}

.example h1 {
    font-family: Quicksand-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(2rem, calc(5vw + 1rem), 4.5rem);
    line-height: 97px;
    /* identical to box height */
    text-align: center;
    /* blue */
    color: #0c0b1a;
}

.example .info {
    font-family: Amaranth-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.exampleImage {
    margin: 30px 0;
    width: 100%;
}

.exampleImage img {
    max-width: 100%;
}

@keyframes codeEffect {
    0%,
    10% {
        background-position: 100%;
    }
    60% {
        background-position: 0%;
    }
    70%,
    80% {
        background-position: 0%;
    }
    90%,
    100% {
        background-position: 0%;
    }
}

.exampleInfo span {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 19px;
    color: #8f9bb2;
}

.exampleDescription {
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 19px;
    color: #8f9bb2;
}

.listCommands {
    width: fit-content;
}

.listCommands ul {
    margin-top: 10px;
    margin-left: 19px;
}

.listCommands ul li {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 30px;
    color: #8f9bb2;
}

strong {
    color: #000;
}

/* NOT FOUND 404 */
.notFound {
    min-height: calc(100vh - 60px);
    background-image: url("../images/notFound.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notFoundContainer {
    min-height: calc(100vh - 60px);
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notFoundInfo h1 {
    font-family: Quicksand-Bold;
    font-size: 3.5rem;
    color: #0c0b1a;
    margin-bottom: 50px;
}

.notFoundInfo p {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: #494677;
    margin-bottom: 50px;
}

@media (max-width: 1300px) {
    .infoWrapper {
        font-size: clamp(1rem, calc(3vw + 1rem), 1.5rem);
    }
    .infoWrapper p {
        font-size: clamp(0.9rem, calc(3vw + 1rem), 1rem);
    }
    .singleBlock {
        width: 80%;
    }
    .startingContainer {
        width: 80%;
    }
    .kubernetes {
        width: 230px;
    }
}

@media (max-width: 1150px) {
    .notFoundContainer {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        margin: 50px 0;
        flex-direction: column;
    }
    .mainLogoWrapper {
        margin-top: 50px;
        width: 100%;
    }
    .infoWrapper {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .keyFeatureLogo {
        display: none;
    }
    .kubernetes {
        width: 300px;
    }
    .kubernetes img {
        width: 80%;
    }
}

@media (max-width: 940px) {
    header {
        padding: 0 10px;
    }
}
