@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");

/* Footer */
footer {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    background-color: #0c0b1a;
    justify-content: center;
    align-items: center;
}

.footerIcons {
    width: 130px;
    justify-content: space-evenly;
    display: flex;
    padding-top: 20px;
}

.footerCopy {
    color: white;
    padding-top: 20px;
}

.footerCopy span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #8f9bb2;
    font-size: 1.1rem;
}

.footerLogo {
    width: 130px;
    text-align: center;
}

.footerLogo img {
    width: 100%;
}

.webinarFooterBanner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 94px;
    position: fixed;
    bottom: 0px;
    background-color: #121b40;
    justify-content: space-between;
    z-index: 10;
}

.webinarFooterBanner::before {
    content: "";
    position: absolute;
    background-image: url(../../src/images/cookieLeftHexagon.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 96px;
    opacity: 0.3;
}

.webinarFooterBanner::after {
    content: "";
    position: absolute;
    background-image: url(../../src/images/cookieRightHexagon.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 96px;
    opacity: 0.3;
}

.webinarFooterLeftBlock {
    height: 60px;
    margin-left: 20px;
}

.webinarFooterRightBlock {
    height: 60px;
    margin-right: 20px;
    z-index: 5;
}

.webinarFooterRightBlock img {
    cursor: pointer;
}

.webinarBannerRegisterBTN {
    cursor: pointer;
    width: 180px;
    z-index: 5;
}

.wrapperWebinarFT {
    display: flex;
    align-items: center;
}

.webinarBannerLecturer {
    position: relative;
    height: 60px;
    width: 80px;
}

.webinarBannerLecturer img {
    position: absolute;
    width: 40px;
    border: 2px solid #627ef7;
    border-radius: 500px;
}

.refael {
    top: 0;
    left: 0;
    z-index: 4;
}

.tom {
    z-index: 3;
    top: 18px;
    left: 30px;
}

.kubernetesFooterBannerIMG {
    width: 140px;
    padding: 0 3px;
    vertical-align: bottom;
}

.upcomingWebinarTXT {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #627ef7;
}
.webinarDescriptionTXT {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.webinarCountDownWrapper {
    display: flex;
    margin: 0 100px;
}

.webinarCountDownWrapper .countDownBlock h4 {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
}

.webinarCountDownWrapper .countDownBlock {
    margin-right: 50px;
    color: white;
    text-align: center;
}

.webinarCountDownWrapper .countDownBlock span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.5;
}

.webinarCountDownWrapper .countDownBlock:last-child {
    margin-right: 0;
}

.deffaultBTN {
    position: relative;
    outline: none;
    border: 0;
    color: white;
    font-size: 1.1rem;
    line-height: 1.25;
    background: #627ef7;
    border-radius: 3.125rem;
    width: 10.9375rem;
    height: 2.8rem;
    box-shadow: 0px 20px 40px rgba(98, 126, 247, 0.349);
    border-radius: 50px;
}

@media (max-width: 1364px) {
    .wrapperWebinarFT {
        margin-left: 15px;
        margin-right: 15px;
    }
    .webinarCountDownWrapper {
        margin: 0 20px !important;
    }
    .countDownBlock {
        margin-right: 20px !important;
    }
}

@media (max-width: 1050px) {
    .webinarFooterLeftBlock {
        position: absolute;
        top: 5px;
        margin-left: 10px !important;
    }
    .webinarFooterBanner {
        height: 200px !important;
    }
    .webinarFooterRightBlock {
        position: absolute;
        right: 0;
        top: 5px;
        margin-right: 10px !important;
    }
    .webinarFooterBanner {
        height: 200px !important;
    }
    .webinarFooterBanner::before,
    .webinarFooterBanner::after {
        background-image: unset;
    }
    .webinarBannerLecturer {
        display: none;
    }
    .wrapperWebinarFT {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .webinarCountDownWrapper {
        margin: 5px 0 !important;
    }
    .countDownBlock:last-child {
        margin-right: 0 !important;
    }
    .webinarFooterRightBlock {
        position: absolute;
        top: 5;
        right: 0;
    }
    .upcomingWebinarTXT,
    .webinarDescriptionTXT {
        text-align: center;
    }
    .counterDownWrapper {
        display: flex;
        flex-direction: column;
    }
}
